/* ini css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #fff, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.box{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}
i{
    font-size: 40px;

}

.kotak{
    display: flex;
}

 
#c-f{
    display: flex;
}

#f-c{
    display: none;
}

#kotak-konversi {
    background-color: #c9d6ff;
    background: linear-gradient(to left, #fff, #c9d6ff);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

#kotak-cara {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 360px;
    max-width: 100%;
    min-height: 200px;
    height: 225px;
}



.rumus{
    padding-top: 16px;
}

.rumus>h4{
    font-size: 20px;
}
.rumus>h4{
    font-size: 20px;
}
.header-cara{
    padding-top: 20px;
}

 .suhu{
    padding-top: 32px;
    padding-bottom: 16px;
 }
input{
    
    width: 700px;
    height: 50px;
    border-radius: 8px;
    font-size: 30px;
    padding: 6px;
    font-weight: bold;
    font-family: sans-serif;
}
.button{
    display: inline-flex;
    margin-top: 5px;
    gap: 5px;
}
.btn-convert{
    font-weight: bold;
    font-size: 15px;
    background-color: #3eff37;
    color: rgba(69, 68, 68, 0.988);
    padding: 5px;
    border-radius: 8px;
}
.btn-reset{
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
.btn-reverse{
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: 475px;
    border-radius: 8px;
}